/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic body styling */
body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #e6fae6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container for the content */
.container {
    text-align: center;
    background-color: white(255, 254, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

/* Header styling */
header {
    background-color: #57b35a;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

header p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

/* Journal Section */
#journal-entry {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
    padding: 20px;
}

#journal-entry textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 2em;
    border-radius: 5px;
}

#journal-entry select,
#journal-entry button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}

#journal-entry button {
    background-color: #57b35a;
    color: white;
    cursor: pointer;
}

#journal-entry button:hover {
    background-color: #2d6e30;
}

/* Entries Section */
#history {
    padding: 20px;
    margin-top: 2em;
}

.entry {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 1em;
}

/* Responsive Styling */
@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    #journal-entry textarea {
        font-size: 0.9em;
    }

    #journal-entry button {
        font-size: 1em;
    }
}
.delete-btn {
    background-color: #fab9b9;
    color: white;
    border: none;
    padding: 6px 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #fc4848;
}
